.menu-component {
}
.menuContainer {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.menuContainer.menuOpen {
  opacity: 0.3;
}
.menu-modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.menu-modal-text {
  margin-top: 20px;
  width: 70%;
}
.menu-box {
  display: flex;
  justify-content: center;
}
.btn-menu {
  margin-top: 20px;
}
img {
  max-width: 800px;
}
